<p-toast></p-toast>
<p-tabView>
  <p-tabPanel header="Card List">
    <p-table #dt [value]="cards" [rowHover]="true" dataKey="id" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,50,150,500]"
      [globalFilterFields]="['id','name']" [loading]="loading" selectionMode="single" (onRowSelect)="selectCard($event)" (onRowUnselect)="unselectCard($event)"
      [paginator]="true" styleClass="p-datatable-sm">
      <ng-template pTemplate="caption">
        <div class="flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="img">img</th>
          <th id="id">id</th>
          <th id="name">name</th>
          <th id="NumberOwned">NumberOwned</th>
          <th id="layout">layout</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr [pSelectableRow]="card">
          <td><a href={{getScryfallUrl(card)}} target="_blank" rel="noopener noreferrer"><img src={{card.imgUrl}} alt={{getScryfallUrl(card)}}></a></td>
          <td>{{card.id}}</td>
          <td>{{card.name}}</td>
          <td>{{card.numberOwned}}</td>
          <td>{{card.layout}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Edit Card">
    <div *ngIf="!show">
      <h5>Please enter the password to access the edit part:</h5>
      <p-password [feedback]="false" [(ngModel)]="password"></p-password>
      &nbsp;
      <p-button label="submit" (onClick)="handlePassword()"></p-button>
    </div>
    <div *ngIf="show">
      <form>
        <span class="p-float-label">
          <input class="p-inputtext-editCard" id="cardIdInput" type="text" pInputText [(ngModel)]="cardId" name="cardId">
          <label for="cardIdInput">Card Id:</label>
        </span>
        <span class="p-float-label">
          <input class="p-inputtext-editCard" id="cardSetInput" type="text" pInputText [(ngModel)]="cardSet" name="cardSet">
          <label for="cardSetInput">Card Set:</label>
        </span>
        <span class="p-float-label">
          <input class="p-inputtext-editCard" id="cardNumberOwnedInput" type="text" pInputText [(ngModel)]="cardNumberOwned" name="cardNumberOwned">
          <label for="cardNumberOwnedInput">NumberOwned</label>
        </span>
        <p-button label="Edit card" (onClick)="handleClick()"></p-button>
        &nbsp;
        <p-button label="add card" (onClick)="handleAddClick()"></p-button>
      </form>
    </div>
  </p-tabPanel>
</p-tabView>
